repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
        exclude: "templates/*"
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/aws-cloudformation/cfn-python-lint
    rev: v1.38.1
    hooks:
      - id: cfn-python-lint
        files: templates/.*\.(json|yml|yaml)$
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: "7.3.0"
    hooks:
      - id: flake8
        args:
          # these are errors that will be ignored by flake8
          # check out their meaning here
          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E501,E203,W503,F401"
