# This workflow will update the code for the production environment

on:
  push:
    branches: ["release"]

name: Deploy to production

jobs:
  build_and_deploy:
    name: Deploy
    environment:
      name: Production

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2

      - name: Set up SAM
        uses: aws-actions/setup-sam@v1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Build
        run: sam build --use-container -t templates/prod.yaml

      - name: Deploy
        env:
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
          DB_SERVICE_URL: ${{ secrets.DB_SERVICE_URL }}
          DB_SERVICE_TOKEN: ${{ secrets.DB_SERVICE_TOKEN }}
          AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SQS_URL: ${{ secrets.AWS_SQS_URL }}

        run: sam deploy
          --stack-name PortalBackendProd
          --s3-bucket af-portal-backend
          --no-confirm-changeset
          --no-fail-on-empty-changeset
          --region ap-south-1
          --capabilities CAPABILITY_IAM
          --parameter-overrides
          JwtSecretKey=$JWT_SECRET_KEY
          DbServiceUrl=$DB_SERVICE_URL
          DbServiceToken=$DB_SERVICE_TOKEN
          AwsAccessKey=$AWS_ACCESS_KEY
          AwsSecretAccessKey=$AWS_SECRET_ACCESS_KEY
          AwsSqsUrl=$AWS_SQS_URL
